{% extends "base.html" %}
{% block title %}Inicio | NexoStore {% endblock %}

{% block content %}
<div class="p-4 p-md-5 mb-4 rounded bg-light">
    <div class="col-lg-8">
        <h1 class="display-6 fw-bold">Bienvenida a NexoStore</h1>
        <p class="lead">Explora productos, realiza tu pedido y haz seguimiento por token.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'catalogo' %}">Ver catálogo</a>
    </div>
</div>

<h3 class="mb-3">Destacados</h3>

{% if destacados %}
<div id="carouselDestacados" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">

        {% for p in destacados %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="card shadow-sm">
                {% if p.imagen1 %}
                <img src="{{ p.imagen1.url }}" class="d-block w-100" style="height: 380px; object-fit: cover;"
                    alt="{{ p.nombre }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ p.nombre }}</h5>
                    <p class="card-text text-muted">{{ p.categoria.nombre }}</p>
                    <a class="btn btn-outline-primary" href="{% url 'detalle_producto' p.slug %}">Ver producto</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestacados" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestacados" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
{% else %}
<p class="text-muted">Aún no hay productos destacados.</p>
{% endif %}
{% endblock %}